/* green */
.headersection, .footersection {background: #007000 none repeat scroll 0 0;}
.icon a {background: #2d9d2d none repeat scroll 0 0;}
.searchbtn input[type="text"] {background: #52c252 none repeat scroll 0 0; border: 1px solid #034703;}
.searchbtn input[type="submit"] {border: 1px solid #549854;}
.searchbtn input[type="submit"]:hover {background: #005600 none repeat scroll 0 0; border: 1px solid #52c252;}
input[type="submit"] {background: #005600 none repeat scroll 0 0; border: 1px solid #52c252;}
.navsection {background: #35a535 none repeat scroll 0 0;}
.navsection ul li {border-left: 1px solid #007000; border-right: 1px solid #38a838;}
.samepost h2 a {color: #007000;}
.maincontent, .sidebar {background: #C9FFC9 none repeat scroll 0 0;}
.samepost img {border: 1px solid #35A535;}
.contentsection {border: 1px solid #35A535;}
.samesidebar h2 {background: #35a535 none repeat scroll 0 0; border-bottom: 2px solid #007000; color: #fff;}
.readmore a {border: 1px solid #35a535; color: #35a535;}
.readmore a:hover {border: 1px solid #007000; color: #35a535;}
.pagination a {background: #35a535 none repeat scroll 0 0; border: 1px solid #007000; color: #333;}
.pagination a:hover {background: #007000 none repeat scroll 0 0; border: 1px solid #35a535; color: #fff;}
.footermenu ul li a {color: #35a535;}
.samepost h2, .about h2 {color: #007000;}
.about img {border: 1px solid #007000;}
.relatedpost h2 {background: #35a535 none repeat scroll 0 0; border-bottom: 2px solid #007000 !important;}

